<% @stones.each do |stone| %>

  <div class="card-product">
    <%= image_tag stone.image %>
      <div class="card-product-infos">
        <h3> <%= stone.name %></h3>
        <p> <%= stone.description %> </p>
      </div>
  </div>
<% end %>
