
<div class="row">
  <% @stones.each do |stone|  %>
  <div class="col-12 col-md-4">

    <div class="card" style="width: 300px; height: 350px;">
      <img src="https://static.wixstatic.com/media/101e87_1b07e41f55b54d5489083a21c025a39d~mv2.jpg/v1/fill/w_500,h_667,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/101e87_1b07e41f55b54d5489083a21c025a39d~mv2.jpg" class="card-img-top" alt="..." style="height:120px; object-fit:contain;">
      <div class="card-body">
        <h5 class="card-title"><%= stone.name %></h5>
        <p class="card-text"><%= stone.description %></p>
        <%= link_to "see details", stone_path(stone), class:"btn btn-warning text-center w-100"  %>
      </div>
    </div>

  </div>
</div>

      <div class="flex-container">

      </div>

      <p><strong>labradorite</strong> utile pour les genoux - 15 euros</p>
        <div class="flex-item">...</div>
        <link rel="stylesheet" href="https://www.123ambre.com/wp-content/uploads/2020/11/labradorite-pierre.jpg">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

  <a class="btn btn-ghost" href="#">Détails</a>






  <% end %>
</div>
