
<h3><strong>Last products</strong></h3>
<div class="flex-container">
  <% @stones.each do |stone|  %>
  <div class="col-12 col-md-4">

    <div class="card" style="width: 300px; height: 350px;">
      <img src="<%= stone.image %>">
      <div class="card-body">
        <h5 class="card-title"><%= stone.name %></h5>
        <p class="card-text"><%= stone.description %></p>
        <%= link_to "see details", stone_path(stone), class:"btn btn-warning text-center w-100"  %>
      </div>
    </div>
      <% end %>

  </div>
</div>
