.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


.btn-blue{
  background-color: #81b4b4;
  padding: 8px 16px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  display: inline;
  font-weight: initial;
  border: 0px

}

.btn-white{
  background-color: white;
  padding: 18px 40px;
  border-radius: 50px;
  color: #81b4b4;
  text-decoration: none;
  display: inline;
  font-weight: initial;
  font-size: 22px;

}

.btn-blue:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.btn-white:hover{
  color: #81b4b4;
  text-decoration: none;
  opacity: 0.8;

}


.btn-white-small{
  background-color: white;
  padding: 18px 40px;
  border-radius: 50px;
  color: #81b4b4;
  text-decoration: none;
  display: inline;
  font-weight: initial;
  font-size: 16px;
  border: solid 1px rgb(192, 192, 192);

}

.btn-white-small:hover{
  color: #81b4b4;
  text-decoration: none;
  opacity: 0.8;

}


.btn-pink{
  background-color: #efc8d4;
  padding: 8px 16px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  display: inline;
  font-weight: initial;
  border: 0px

}



.btn-pink:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
