.cards-stones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;

}

.paragraph-info{
  height: 40px;
}


.card-body {
  height: 216px;
}




// CARDS HOME

.card-home-stone {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 350px;
  margin-top: 24px;
}

.card-home-stone > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}



.card-home-stone h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-home-stone p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-home-stone .card-home-stone-infos {
  padding: 16px;
}

.card-home-stone-infos{
  height: 96px;
  margin-bottom: 5px;

}

#card-index{
  height: 330px;
}

#card-index h2{
 font-size: 17px;
}

#card-index img{
  border-bottom: solid 1px rgb(228, 228, 228);
}

#card-index p {
  font-size: 17px;
}

#card-index .card-home-stone-infos{
  height: 70px;
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-stones {
    grid-template-columns: 1fr 1fr;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-stones {
    grid-template-columns: 1fr;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-stones {
    grid-template-columns: 1fr;
  }
}
